# Python (кэш и временные файлы)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Сборщики Python (PyInstaller артефакты)
/dist/
*.spec

# Сборка C++ (Временные файлы компилятора)
/build/

# Бинарные исполняемые файлы и библиотеки
# (Их не принято хранить в Git, так как они собираются из исходников)
*.exe
*.dll
*.so
*.dylib

# Локальные базы данных и персональные логи
/vortex_chats.txt

# Системные файлы ОС
.DS_Store
Thumbs.db
